{% extends 'base.html' %} {% block title %}Registration | ICAMW Conference 2026{%
endblock %} {% block content %}
<section class="registration-section">
  <h2>Registration Fee Details</h2>
  <p class="subtitle">Please refer to the fee structure below</p>

  <div class="fee-card">
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>National (INR)</th>
          <th>International (USD)</th>
        </tr>
      </thead>
      <tbody>
        {% for fee in fees %}
        <tr>
          <td>{{ fee.category }}</td>
          <td>{{ fee.national }}</td>
          <td>{{ fee.international }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <!-- Payment / Bank Details -->
  <h2>Payment Details</h2>

  <div class="payment-grid">
    <!-- National Participants -->
    <div class="payment-card">
      <h3>For National Participants (India)</h3><br>
      <table class="payment-table">
        <tr>
          <td><strong>Account Name</strong></td>
          <td>Cambridge Institute of Technology</td>
        </tr>
        <tr>
          <td><strong>Bank Name</strong></td>
          <td>HDFC Bank Ltd</td>
        </tr>
        <tr>
          <td><strong>Branch</strong></td>
          <td>Bhattarahalli Branch</td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td>
            S. No. 162, RMS Colony,<br />
            Bhattarahalli, K R Puram,<br />
            Bangalore – 560049
          </td>
        </tr>
        <tr>
          <td><strong>Account No</strong></td>
          <td>50200081471712</td>
        </tr>
        <tr>
          <td><strong>IFSC Code</strong></td>
          <td>HDFC0006393</td>
        </tr>
      </table>
    </div>

    <!-- International Participants -->
    <div class="payment-card">
      <h3>For International Participants</h3><br>
      <table class="payment-table">
        <tr>
          <td><strong>Account Name</strong></td>
          <td>Cambrian Incubator Private Limited</td>
        </tr>
        <tr>
          <td><strong>Bank Name</strong></td>
          <td>HDFC Bank Ltd</td>
        </tr>
        <tr>
          <td><strong>Branch</strong></td>
          <td>Bhattarahalli Branch</td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td>
            S. No. 162, RMS Colony,<br />
            Bhattarahalli, K R Puram,<br />
            Bangalore – 560049
          </td>
        </tr>
        <tr>
          <td><strong>EEFC Account No</strong></td>
          <td>5020010079052</td>
        </tr>
        <tr>
          <td><strong>SWIFT Code</strong></td>
          <td>HDFCINBB</td>
        </tr>
        <tr>
          <td><strong>IFSC Code</strong></td>
          <td>HDFC0006393</td>
        </tr>
      </table>
    </div>
  </div>
</section>

{% endblock %}
